#----------------------------------------------------------
# Supabase Environment Variables
#----------------------------------------------------------
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
SUPABASE_EXTRA_SEEDS=./seeds/dev/*.sql
